@import url('https://fonts.googleapis.com/css?family=Merriweather');
html {
  font-family: 'Merriweather', serif;
  font-size: 14px;
}



path:hover{
  fill:black;}
/* #NG-AB:hover,#NG-AD:hover,#NG-AK:hover,#NG-AN:hover, #NG-BA:hover,#NG-BE:hover,#NG-BO:hover,#NG-CR:hover,#NG-DE:hover,#NG-EB:hover,#NG-ED:hover,#NG-EK:hover,#NG-EN:hover,#NG-FC:hover,#NG-GO:hover,#NG-IM:hover,#NG-JI:hover,#NG-KD:hover
,#NG-KE:hover,#NG-KN:hover,#NG-KO:hover,#NG-KT:hover,#NG-KW:hover,#NG-LA:hover,#NG-NA:hover,#NG-NI:hover,#NG-OG:hover,#NG-ON:hover,#NG-OS:hover,#NG-OY:hover,#NG-PL:hover,#NG-RI:hover,#NG-SO:hover,#NG-TA:hover,#NG-YO:hover
,#NG-ZA:hover,#NG-BY:hover*/

#NG-AB{
  fill: red;
}

h1{
  text-align:center;
}
.svg-states {
  float:left
}


.list-of-states {
  margin: 0;
  padding: 20px;
  columns: 100px auto;
  column-gap: 10px;
  list-style: none;
}

.list-of-states li {
  padding: 2px 4px;
  display: inline-block;
  width: 100%;
}
.list-of-states li.on {
  background: black;
  color: white;
  font-weight: bold;
}

